absl-py==1.0.0
appnope==0.1.3
asgiref==3.5.0
asttokens==2.0.5
attrs==21.4.0
autobahn==22.3.2
Automat==20.2.0
backcall==0.2.0
cffi==1.15.0
channels==3.0.4
constantly==15.1.0
cryptography==37.0.1
cycler==0.11.0
daphne==3.0.2
decorator==5.1.1
Django==3.2
django-cors-headers==3.11.0
django-filter==21.1
django-rest-auth==0.9.5
djangorestframework==3.13.1
djangorestframework-jwt==1.11.0
djangorestframework-simplejwt==5.1.0
executing==0.8.3
filter==0.0.0.20200724
fonttools==4.33.3
hyperlink==21.0.0
idna==3.3
incremental==21.3.0
install==1.3.5
ipython==8.2.0
jedi==0.18.1
joblib==1.1.0
kiwisolver==1.4.2
matplotlib==3.5.1
matplotlib-inline==0.1.3
mediapipe @ file:///Users/wonjae/Downloads/mediapipe-0.8.9.1-cp39-cp39-macosx_12_0_arm64.whl
mysqlclient==2.1.0
numpy==1.22.3
opencv-contrib-python==4.5.5.64
packaging==21.3
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.1.0
prompt-toolkit==3.0.29
protobuf==3.20.1
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAudio==0.2.11
pycparser==2.21
Pygments==2.11.2
PyJWT==1.7.1
pyOpenSSL==22.0.0
pyparsing==3.0.8
python-dateutil==2.8.2
pytz==2022.1
scikit-learn==1.0.2
scipy==1.8.0
service-identity==21.1.0
six==1.16.0
sklearn==0.0
sqlparse==0.4.2
stack-data==0.2.0
threadpoolctl==3.1.0
traitlets==5.1.1
Twisted==22.4.0
txaio==22.2.1
typing_extensions==4.2.0
wcwidth==0.2.5
xgboost==1.6.0
zope.interface==5.4.0
