<html>
  <head>
    <title>Client</title>
  </head>

  <body>
    <img src="" />
    <script>
      // get img dom element
      const img = document.querySelector("img");

      const WS_URL = `ws://${window.location.host}/ws/cam/`;
      const ws = new WebSocket(WS_URL);
      ws.onopen = () => console.log(`Connected to ${WS_URL}`);

      ws.onmessage = (pose_message, face_message) => {
        // set the base64 string to the src tag of the image
        {% comment %} img.src = JSON.parse(message.data).message; {% endcomment %}
        console.log(pose_message);
        console.log(face_message);
      };

      ws.onclose = function (evt) {
        console.log("Connection closed.");
      };
    </script>
  </body>
</html>
