<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <script
      src="https://cdn.jsdelivr.net/npm/@mediapipe/camera_utils/camera_utils.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@mediapipe/control_utils/control_utils.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@mediapipe/control_utils_3d/control_utils_3d.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@mediapipe/drawing_utils/drawing_utils.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@mediapipe/pose/pose.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@mediapipe/face_mesh/face_mesh.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <div class="container">
      <video class="input_video"></video>
      <canvas class="output_canvas" width="1280px" height="720px"></canvas>
      <div class="landmark-grid-container"></div>
    </div>
  </body>
</html>
<script type="module">
  const WS_URL = `ws://${window.location.host}/ws/cam/`;

  const videoElement = document.getElementsByClassName("input_video")[0];
  const canvasElement = document.getElementsByClassName("output_canvas")[0];
  const canvasCtx = canvasElement.getContext("2d");
  const landmarkContainer = document.getElementsByClassName(
    "landmark-grid-container"
  )[0];
  const grid = new LandmarkGrid(landmarkContainer);
  let pose1 = {};
  let faceMesh1 = {};
  async function onResults(results) {
    if (!results.poseLandmarks) {
      grid.updateLandmarks([]);
      return;
    }
    pose1 = { keypoints: results.poseLandmarks };
    faceMesh1 = { keypoints: results.multiFaceLandmarks };
  }

  const pose = new Pose({
    locateFile: (file) => {
      return `https://cdn.jsdelivr.net/npm/@mediapipe/pose/${file}`;
    },
  });

  const faceMesh = new FaceMesh({
    locateFile: (file) => {
      return `https://cdn.jsdelivr.net/npm/@mediapipe/face_mesh/${file}`;
    },
  });

  pose.setOptions({
    modelComplexity: 0,

    minDetectionConfidence: 0.3,
    minTrackingConfidence: 0.3,
  });

  faceMesh.setOptions({
    maxNumFaces: 1,
    refineLandmarks: true,
    minDetectionConfidence: 0.5,
    minTrackingConfidence: 0.5,
  });

  pose.onResults(onResults);

  faceMesh.onResults(onResults);

  const FPS = 3;
  const ws = new WebSocket(WS_URL);
  ws.onopen = () => {
    setInterval(async () => {
      console.log(pose1.keypoints[0]);
      console.log(faceMesh1.keypoints);
      await ws.send(
        JSON.stringify({
          type: "video_message",
          pose_message: pose,
          face_message: faceMesh,
        })
      );
    }, 1000);
  };
  const camera = new Camera(videoElement, {
    onFrame: async () => {
      await pose.send({ image: videoElement });
      await faceMesh.send({ image: videoElement });
    },
    width: 1280,
    height: 720,
  });
  camera.start();
</script>
