.container {
    width: 100vw;
    height: 100vh;
}

.loading__container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    transition: background-color 0.1s linear;
}

.loading__container h1 {
    font-size: 120px;
    color: white;
}
