@import "./reset.css";
@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #96b3fe;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: #96b3fe;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.topbar__container {
  width: 65vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topbar__container div {
  display: flex;
  justify-content: center;
  width: 33%;
}

.logo {
  width: 100px;
}

.navigator {
  width: 33%;
  display: flex;
  justify-content: right;
  align-items: center;
}

.navigator .profile {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 10px;
}

.navigator h5 {
  margin-right: 10px;
  font-family: "GmarketSansMedium";
  font-size: 20px;
}

.navigator a img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.box {
  display: flex;
  width: 65vw;
}

.input__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 630px;
  color: rgba(0, 0, 0, 0.863);
  background-color: rgb(234, 237, 244);
  border-radius: 20px;
  box-shadow: 0 0 10px 5px rgb(225, 225, 226);
  border: 0.2px solid rgba(0, 0, 0, 0.2);
}

.input__container h1 {
  font-family: GmarketSansMedium;
  color: rgba(0, 0, 0, 0.863);
  font-size: 22px;
  margin-top: 15px;
}

.upload__img__container {
  width: 130px;
  height: 130px;
  border: none;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  margin-top: 10px;
  margin-bottom: 20px;
}

.upload__img__container img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
}

.employee__card__text__container {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.employee__card__text__container span:first-child {
  font-family: GmarketSansMedium;
  font-size: 18px;
  margin-top: 30px;
  padding-left: 55px;
  margin-bottom: 40px;
}

.employee__card__text__container span:nth-child(2) {
  font-family: GmarketSansMedium;
  font-size: 18px;
  margin-bottom: 80px;
  padding-left: 55px;
}

.employee__card__text__container span:last-child {
  font-family: GmarketSansMedium;
  width: 400px;
  display: flex;
  justify-content: center;
  font-size: 24px;
}

.upload__img__container label {
  position: absolute;
  cursor: pointer;
}

.upload__img__container input {
  z-index: 100;
}

.form__container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.form__container form label {
  margin-top: 15px;
  margin-left: 20px;
  margin-right: auto;
  font-family: GmarketSansMedium;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.863);
}

.form__container form p {
  margin-top: 15px;
  margin-bottom: 5px;
  text-align: center;
  font-family: GmarketSansMedium;
  font-size: 15px;
}

.form__container form input {
  box-sizing: border-box;
  width: 250px;
  height: 35px;
  border: none;
  outline: none;
  border-radius: 20px;
  margin-top: 10px;
  text-align: left;
  padding-inline-start: 30px;
  font-family: GmarketSansMedium;
}

.form__container form button {
  width: 150px;
  height: 35px;
  background-color: rgb(215, 217, 221);
  border: none;
  border-radius: 10px;
  font-family: GmarketSansMedium;
  text-align: center;
  cursor: pointer;
  margin-top: 15px;
}

.form__container form button:hover {
  width: 150px;
  height: 35px;
  border: 2px;
  background-color: #4876ef;
  border-style: solid;
  color: white;
  border-color: white;
  border-radius: 10px;
  font-family: GmarketSansMedium;
  text-align: center;
}

.form__container form input:last-child {
  width: 150px;
  height: 35px;
  text-align: center;
  padding-inline-start: 0px;
  border-radius: 10px;
  margin-top: 20px;
  cursor: pointer;
  background-color: rgb(215, 217, 221);
}

.form__container form input:last-child:hover {
  width: 150px;
  height: 35px;
  text-align: center;
  padding-inline-start: 0px;
  border-radius: 10px;
  margin-top: 20px;
  cursor: pointer;
  background-color: #4876ef;
  color: white;
}
