@import "./reset.css";
@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #96b3fe;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: #96b3fe;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.topbar__container {
  width: 65vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topbar__container div {
  display: flex;
  justify-content: center;
  width: 33%;
}

.logo {
  width: 100px;
}

.navigator {
  width: 33%;
  display: flex;
  justify-content: right;
  align-items: center;
}

.navigator .profile {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 10px;
}

.navigator h5 {
  margin-right: 10px;
  font-family: "GmarketSansMedium";
  font-size: 20px;
}

.navigator a img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.post_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 1000px;
  height: 800px;
  background-color: rgb(215, 217, 221);
  border-radius: 30px;
}

.post_title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: GmarketSansMedium;
  font-size: 30px;
}

.box {
  display: flex;
  width: 65vw;
}
